<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Symfony Validator
  ~
  ~ Type sensitive validating Software for Symfony Applications.
  ~
  ~ Copyright (c) 2020 Fabian Fröhlich <mail@f-froehlich.de> https://f-froehlich.de
  ~
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  ~
  ~ For all license terms see README.md and LICENSE Files in root directory of this Project.
  ~
  -->

<phpunit
        backupGlobals="false"
        colors="true"
        bootstrap="vendor/autoload.php"
        failOnRisky="true"
        failOnWarning="true"
>
    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="REDIS_HOST" value="localhost"/>
        <env name="MEMCACHED_HOST" value="localhost"/>
    </php>

    <testsuites>
        <testsuite name="Unit">
            <directory>./Tests/**/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>./Tests/**/Integration</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
            <exclude>
                <directory>./src/Resources</directory>
                <directory>./src/DependencyInjection</directory>
                <directory>./Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
